@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600&display=swap");

.audio-container > div {
  width: 400px;
  height: 250px;
  max-width: 450px;
  max-height: 250px;
  position: relative;
}

._wrapper_1sefb_1 {
  position: relative !important;
  inset: auto !important;
  width: 100% !important;
  height: 100% !important;
}

.audio-player {
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 160px;

  padding: 6px;
  font-size: 10px;

  overflow: visible;
  box-sizing: border-box;
}

.audio-player,
.audio-player * {
  font-family: "Pixelify Sans", monospace;
  line-height: 1;
  box-sizing: border-box;
  background-color: transparent;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-size: 25px;
}
.audio-player * {
  max-width: 100%;
}

.audio-player .madza-player {
  width: 100%;
  max-width: 100%;
  background: transparent;
  margin: 0 !important;
  padding: 0 !important;
}

.audio-player .madza-player > * {
  margin: 0 !important;
}

.audio-player .track-title {
  font-size: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.audio-player .track-time {
  font-size: 6px;
}
.audio-player button {
  font-size: 6px;
  padding: 3px;
  background: #2d2d2d;
  border: 2px solid #5a5a5a;
  box-shadow: 2px 2px 0 #000;
  cursor: pointer;
}

.audio-player input[type="range"] {
  max-width: 100%;
  box-sizing: border-box;
}
