.gameover-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.gameover-overlay .dialog-box {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.gameover-box {
  animation: popIn 0.3s ease-out;
}

.gameover-buttons {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 20px;
}

@keyframes popIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.dialog-btn-Retry, .dialog-btn-Exit{
    background-color: #4aa3ff;
  color: black;
  border: solid 2px #000000;
  padding: 6px 12px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 25px;
  font-family: "Press Start 2P";
  border-radius: 10px;
}

.dialog-btn-Retry:hover {
    background-color: #125eab;
 
}
.dialog-btn-Exit:hover{
   background-color: #125eab;
}