.locked-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.locked-modal {
  background: #f5d88c;
  border: 4px solid black;
  border-radius: 14px;
  padding: 24px;
  max-width: 420px;
  text-align: center;
  font-family: 'Press Start 2P';
  line-height: 1.5;
}

.locked-modal button {
  margin-top: 20px;
  padding: 8px 14px;
  font-family: 'Press Start 2P';
  border: 3px solid black;
  background: #4aa3ff;
  cursor: pointer;
}

.locked-modal button:hover{
  background: #1666b5;
}
