.alchemy-root {
  position: fixed;
  inset: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.alchemy-scroll {
  display: block;
  margin: 110px auto 10px auto;
  height: 450px;
  max-width: 750px;
  opacity: 0.95;
  pointer-events: none;
  transition: opacity 0.4s ease;
  box-shadow: 1px 1px 28px 7px #e7ab51;
}
.alchemy-dialog-wrapper {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-start;
  gap: 20px;
  z-index: 10;
}

.alchemy-dialog-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #4aa3ff;
  background: #f5d88c;
  box-shadow: 0 0 12px rgba(74, 163, 255, 0.8);
  position: absolute;
  top: -65px;
  left: -65px;
  z-index: 2;
}

.alchemy-dialog-box {
  background: rgba(245, 216, 140, 0.9);
  padding: 10px;
  border-radius: 12px;
  color: #000;
  font-family: 'Press Start 2P';
  max-width: 900px;
  font-size: 14px;
  border: 6px solid black;
  outline: 6px solid #4aa3ff;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  min-height: 140px;
  position: relative;
}

.alchemy-dialog-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  gap: 16px;
}

.alchemy-dialog-btn {
  background-color: #4aa3ff;
  color: black;
  border: solid 3px #000000;
  padding: 6px 12px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Press Start 2P";
  border-radius: 8px;
}

.alchemy-dialog-skip {
  background-color: red;
  font-size: 12px;
  line-height: 1.2;
}
