.chaos-office-root {
  position: fixed;
  inset: 0;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.chaos-office-stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 103px;
}

.library-dialog-wrapper {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-start;
  gap: 20px;
  z-index: 10;
}

.library-dialog-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #4aa3ff;
  background: #f5d88c;
  box-shadow: 0 0 12px rgba(74, 163, 255, 0.8);
  position: absolute;
  top: -65px;
  left: -65px;
  z-index: 2;
}

.library-dialog-box {
  background: rgba(245, 216, 140, 0.9);
  padding: 10px;
  border-radius: 12px;
  color: #000;
  font-family: 'Press Start 2P';
  max-width: 900px;
  font-size: 15px;
  border: 6px solid black;
  outline: 6px solid #4aa3ff;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  min-height: 140px;
  position: relative;
}

.library-dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 12px;
}

.library-dialog-btn {
  background-color: #4aa3ff;
  color: black;
  border: solid 2px #000000;
  padding: 6px 14px;
  font-size: 14px;
  cursor: pointer;
  font-family: "Press Start 2P";
  border-radius: 10px;
}
