.library-root {
  position: fixed;
  inset: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  padding-top: 20px;
}
.card-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(10, 160px); 
  grid-auto-rows: 200px;                
  gap: 8px;                          
  justify-content: center;
  margin-top: 110px;
}

.card {
  width: 160px;
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front img, .card-back img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  border-radius: 8px;
}

.card-back {
  transform: rotateY(180deg);
  position: relative;
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P';
  font-size: 10px;
  text-align: center;
  pointer-events: none;
  color: black;
}

.card:not(.flipped):hover .card-inner {
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
  transform: scale(1.03);
  transition: all 0.2s ease;
}


.sand-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
  color: white;
  font-size: 20px;
}

.sand-timer img {
  width: 5%; 
  height: auto;
}
.card-game .dialog-box {
  margin-top: 50px;
}

.dialog-box {
  background: rgba(245,216,140,0.9);
  padding: 10px;
  border-radius: 12px;
  color: #000;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  max-width: 900px;
  margin-bottom: 20px;
  margin-top: auto;
  font-size: 18px;
   border: 6px solid black;
  outline: 6px solid  #4aa3ff;;
  line-height: 1.2;
}

.dialog-btn {
  background-color: #4aa3ff;
  color: black;
  border: solid 2px #000000;
  padding: 6px 12px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 25px;
  font-family: "Press Start 2P";
}

.error {
  background: rgba(245,216,140,0.9);
  padding: 20px;
  border-radius: 12px;
  color: #000;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  max-width: 400px;
  margin-top: 20px;
}

.sparkles {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  pointer-events: none;
  background: radial-gradient(circle, rgb(232, 211, 164) 0%, rgb(112, 22, 221) 70%);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: sparkle 0.6s ease-out forwards;
  z-index: 10;
  backdrop-filter: blur(8px);
}

@keyframes sparkle {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0,6;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}
.library-scroll {
  display: block;
  margin: 110px auto 10px auto; 
  height: 450px;
  max-width: 750px;
  opacity: 0.95;
  pointer-events: none;
  transition: opacity 0.4s ease;
}
