.library-root {
  position: fixed;
  inset: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

.dialog-container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-top: auto;
  margin-bottom: 20px;
}

.dialog-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #4aa3ff;
  background: #f5d88c;
  margin-bottom: 90px;
  box-shadow: 0 0 12px rgba(74, 163, 255, 0.8);
}

.dialog-box {
  background: rgba(245,216,140,0.9);
  padding: 10px;
  border-radius: 12px;
  color: #000;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  max-width: 900px;
  font-size: 18px;
  border: 6px solid black;
  outline: 6px solid #4aa3ff;
  line-height: 1.2;
  margin-right: 95px;

}

.dialog-btn {
  background-color: #4aa3ff;
  color: black;
  border: solid 2px #000000;
  padding: 6px 12px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 25px;
  font-family: "Press Start 2P";
}

.library-scroll {
  display: block;
  margin: 110px auto 10px auto;
  height: 450px;
  max-width: 750px;
  opacity: 0.95;
  pointer-events: none;
  transition: opacity 0.4s ease;
  box-shadow: 1px 1px 28px 7px #e7ab51
}
